* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

.sky {
    height: 100%;
    width: 100%;
    background-color: rgb(16, 52, 99);
    position: fixed;
    z-index: 1;
}

.sky-filter {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
    filter: brightness(1);
    opacity: 0;
    animation-name: blinkSky;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.message {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(253, 243, 166);
    text-shadow: 0 0 5px rgb(247, 229, 91);
    font-size: 5em;
    animation-name: blinkMessage;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.clouds {
    position: fixed;
    z-index: 3;
    background-image: url("clouds.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.cat {
    overflow: visible;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-image: url("cat.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: inset 0 0 50px 5px rgb(247, 229, 91), 
                0 0 50px 5px rgb(247, 229, 91);
}

@keyframes blinkSky {
    0% { 
        opacity: 0; 
    }   
    100% { 
        opacity: 0.5;
    }
}

@keyframes blinkMessage {
    0% { 
        text-shadow: 0 0 5px rgb(247, 229, 91);
    }   
    100% { 
        text-shadow: 0 0 5px rgb(251, 221, 0);
    }
}